<h1> WELCOME <%= @user.username.upcase %>!</h1>

<%= link_to 'Edit Profile', edit_user_path %><br>
<%= link_to 'New Tweet', new_tweet_path %><br>
<%= link_to 'New Story', new_story_path %>

<% if @user.tweets %>
  <% @user.tweets.each do |tweet| %>
    <p><%= tweet.text %></p>
  <% end %>
<% end %>

<!-- #user.tweets
#user.stories

#create a new story
#delete my account -->
