<!DOCTYPE html>
<html>
<head>
  <title>TwitterStories</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "TwitterStories", root_path, class: "logo"   %>
    <nav>
      <ul>
        <% if current_user %>
          <li  id="signup" ><%= link_to 'Profile', user_path(current_user) %></li>
          <li  id="signup">
            <%= link_to 'Sign Out', session_path(current_user), method: :delete %>
          </li>
        <% else %>
        <li id="login">
          <%= link_to('#', id: "login-trigger") do  %>
            Sign In <span>▼</span>
          <% end %>
          <div id="login-content">
            <%= form_tag(sessions_path) do %>
              <%= label_tag :username %>
              <%= text_field_tag :username %> <br>
              <%= label_tag :password %>
              <%= password_field_tag :password %> <br>
              <%= submit_tag "Sign In" %>
            <% end %>
          </div>
        </li>
        <li id="signup">
          <%= link_to('#', id: "signup-trigger") do  %>
            Sign Up <span>▼</span>
          <% end %>
          <div id="signup-content">
            <%= form_for @user do |f| %>
              <%= f.label :username%>
              <%= f.text_field :username %> <br>
              <%= f.label :password %>
              <%= f.password_field :password %> <br>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %> <br>
              <%= f.submit "Sign Up" %>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
  <footer>&#169;2014 TwitterStories All rights reserved.</footer>
</body>
</html>
